<main class="main">
  <div class="content">
    @if(planetResponse) {
      <div class="left-side">
        <h1>
          Planets collection
        </h1>
        <span class="left-side-hint">
          click on any planet!
        </span>
        <div class="planets-collection">
          <div class="tools-section">
            <span class="sorting-text">Sort Planets</span>
            <span #sortingButton class="gg-arrow-down" (click)="changeSortDirection()"></span>
          </div>
          @for(planet of planetResponse.results | sortP: 'name' : sortDirection; track $index) {
            <div class="planet-element">
              <planet [planet]="planet" (displayDetail)="displayDetail($event)"></planet>
            </div>
          }
          @empty {
            <div>
              No planets to display.
            </div>
          }
        </div>
      </div>
   
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
    @if (detailConfig && detailConfig.detail?.length) {
      <span class="close-detail-button" [ngStyle]="{'top': (detailConfig.position || 0)+'px'}" (click)="cleanDetail()">&times;</span>
      <planet-info-detail [detailConfig]="detailConfig"></planet-info-detail>     
    }
    </div>
    
  } @else {
    <div class="app-error no-content">
      Upss! Something happened.
    </div>
  }
  </div>
</main>
<router-outlet />
